/* Bootsrap icons cdn link */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/*  Custom fonts declaration
fonts url are declared relatively to the fonts folder.
If the postcss file generarted lives in a different directory, then this declarations won't work.
This declarations assumes that the generated css file lives in thesame directory as this current file
*/
@font-face {
  font-family: "Switzer-Regular";
  src: url("../fonts/switzer/Switzer-Regular.woff2") format("woff2"),
    url("../fonts/switzer/Switzer-Regular.woff") format("woff"),
    url("../fonts/switzer/Switzer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-Medium";
  src: url("../fonts/switzer/Switzer-Medium.woff2") format("woff2"),
    url("../fonts/switzer/Switzer-Medium.woff") format("woff"),
    url("../fonts/switzer/Switzer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-Bold.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/satoshi/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-Black.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

/* tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* find variables and default elements styles here */
@layer base {
  :root {
    --color-light-blue: #112f49;
    --color-medium-blue: #0b1c2c;
    --color-dark-blue: #000d18;
    --color-light-green: #ccf57a;
    --color-medium-green: #a2cc4f;
    --color-dark-green: #81ab25;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Switzer-Medium", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    scroll-behavior: smooth;
  }

  body {
    max-width: 1536px;
    @apply mx-auto;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.color {
  color: #112f49;
  color: #0b1c2c;
  color: #10273a;
  color: #5d646c;
  background: #00182e;

  color: rgba(11, 28, 44, 0.7);
}

/* --------------------------------------- */
/*          custom utility classes         */
/* --------------------------------------- */
.hide__scroll__bar::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.line__clamp__2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line__clamp__4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

@media screen and (max-width: 1000px) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 1px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 50, 59);
  }
}

@media screen and (min-width: 1000px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: gray;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 50, 59);
  }
}

/* --------------------------------------- */
/*    Home page specific css (html/home)   */
/* --------------------------------------- */
.nav__shadow {
  box-shadow: 6px 3px 8px rgba(0, 0, 0, 0.05);
}

.home__card__shadow {
  box-shadow: 0px 14px 25px 5px rgba(0, 0, 0, 0.03);
}

.home__testimony:after {
  content: " ";
  position: absolute;
  height: 100% !important;
  width: 1px;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(3px);
}

.home__testimony:before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(3px);
}

.home__testimonycard {
  width: min(90%, 380px);
  min-width: 270px;
  aspect-ratio: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @apply border;
}

.home_testimonycard_inactive {
  opacity: 0.75;
  transform: scale(0.8);
}

.home_testimonycard_active {
  box-shadow: 1px 1px 20px rgb(221, 221, 221), -1px -1px 20px rgb(221, 221, 221);
  @apply transition-all duration-200 bg-white;
}

.logos__animate {
  animation: logos__animate 36s linear infinite;
}

@media screen and (min-width: 360px) {
  .home__testimonycard {
    min-width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .logos__animate {
    animation: logos__animate 45s linear infinite;
  }

  .home__testimonycard {
    min-width: 350px;
  }
}

@keyframes logos__animate {
  from {
    transform: translateX(calc(-100% + 100vw));
  }
  to {
    transform: translateX(0%);
  }
}

/* --------------------------------------- */
/*           temporary debuggers           */
/* --------------------------------------- */
.red {
  border: 2px solid red;
}

.yellow {
  outline: 4px solid yellow;
}

.blue {
  outline: 2px solid blue;
}
.green {
  outline: 2px solid green;
}
.text-primary {
  color: #ff8a75;
}
